body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  a{
    color: white; 
    text-decoration: none;
  }

  .dingbat{
    color: $color-brand;
}
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 440px;
    background-color: $color-bg-footer;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;


        &__circle{
            height:45px;
            width:45px;
            background-color: white;
            border-radius:50px;
            background-image: url(/images/ico_scroll_up.png);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;
            vertical-align: top;
            position: absolute;
            z-index: 05;
        }
    
        &__link{
              color: white; 
              text-decoration: none;
        }
    
        &__link:hover{
            color: $color-brand;
        }

}
  
  .footer__links {
    margin: 20px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 5px;
  }
  
  @media (min-width: 768px) {
    footer {
      flex-direction: row-reverse;
      gap: 50px;
    }
  }
  