
  <a href="#hero">
    <div class="footer__circle"></div>
  </a>

  <footer class="footer">

    <div class="footer__links--products">
      <ul >
        <li><a href="https://adalab.es/" target="_blank">ZAPATILLAS</a></li>
        <li><a href="https://adalab.es/" target="_blank">ROPA</a></li>
        <li><a href="https://adalab.es/" target="_blank">NIÑO/A</a></li>
        <li><a href="https://adalab.es/" target="_blank">DESTACADOS</li>
        <li><a href="https://adalab.es/" target="_blank">TIPS</a></li>
      </ul>
    </div>
    <div class="footer__links--social">
      <ul>
        <li><a href="https://adalab.es/" class="footer__link" target="_blank">TWITTER</a></li>
        <li><a href="https://adalab.es/" class="footer__link" target="_blank">INSTAGRAM</a></li>
        <li><a href="https://adalab.es/" class="footer__link" target="_blank">YOUTUBE</a></li>
      </ul>
    </div>

    <div class="footer__copy">
      <p>&copy; 2023</p>
      <p>we <span class="dingbat">❤</span> run</p>
    </div>
  </footer>


