<header class="header" id="hero">
    <a href="https://adalab.es/" target="_blank" class="header__burguer--icon"> 
      <div class="header__burguer"></div>
    </a>
    <a href="#backshool">
      <div class="header__circle">  </div>
    </a>
    <div class="header__text">
      <h1 class="header__text--title"> COMIENZOS <br>COMPARTIDOS</h1>
      <p class="header__text--claim"> Todo lo que necesitan para volver <br> al cole con ilusión </p>
    </div>
    <div class="header__image">
    </div>
</header>
