<header class="header">

  <nav class="burguer-menu">
    <!-- <img src="/images/ico-menu.svg" alt="burguer-icon"> -->
  </nav>
    <div class="header_text">
        <div class="header__title">
          <h1> COMIENZOS COMPARTIDOS</h1>
        </div>

        <div class="header__claim">
          <p> Todo lo que necesitan para volver <br> al cole con ilusión </p>
        </div>
    </div>

        <div class="header__image">
          <!-- <img src="/images/cover_header.jpeg" alt="girl playing football"> -->
        </div>

</header>
