<main class="main">

    <div class="sport-shop">
            <div>
            <p class="sport-shop__surtitle"> HISTORIAS, MODA Y ROPA DEPORTIVA</p>
            </div>
            
            <div>
            <h2 class="sport-shop__title">TU TIENDA DE DEPORTE</h2>
            </div>
            
            <div>
            <p class="sport-shop__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Fugit nemo doloribus dicta quidem. Corporis amet numquam, 
                reiciendis veritatis provident dicta quo quis, odit temporibus 
                ipsum illo consequatur molestiae deleniti alias.
            </p>
            </div>

            <div>
                <button type="button"> Comprar </button>
            </div>
    </div>


    <div class=”backschool”>
            <div class= “backschool__title”>
                <p class="backschool__surtitle"> Prepáralos con tus marcas favoritas</p>
                <h3 class="backschool__claim" > VUELTA AL COLE</h3>
            </div>

            <div class= “backschool__products”>
                <div>
                    <img src="/images/01_image.png" alt="mochilas escolares" class="backschool__products--image">
                    <h4 class=”backschool__itemname”> Mochilas escolares </h4>
                </div>

                <div>
                    <img src="/images/02_image.png" alt="mochilas escolares" class="backschool__products--image">
                    <h4 class=”backschool__itemname”> Mochilas escolares </h4>
                </div>

                <div>
                    <img src="/images/03_image.png" alt="mochilas escolares" class="backschool__products--image">
                    <h4 class=”backschool__itemname”> Mochilas escolares </h4>
                </div>
            </div>

            <div class="button-startshopping">
                <button type="button"> Empezar ahora </button>
            </div>

    </div>


</main>