<main class="main">

<!--  zona TU TIENDA DE DEPORTE -->

    <div class="main__intro">
            <div>
            <p class="main__intro__surtitle"> HISTORIAS, MODA Y ROPA DEPORTIVA</p>
            </div>
            
            <div>
            <h2 class="main__intro__title">TU TIENDA DE DEPORTE</h2>
            </div>
            
            <div>
            <p class="main__intro__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Fugit nemo doloribus dicta quidem. Corporis amet numquam, 
                reiciendis veritatis provident dicta quo quis, odit temporibus 
                ipsum illo consequatur molestiae deleniti alias.
            </p>
            </div>

            <div class="main__intro__shopping">
                <button type="button" class="main__intro__shopping--button"> Comprar </button>
            </div>
    </div>

<!--  zona VUELTA AL COLE -->

    <div class=”main__backschool”>

            <div class="main__backschool__text">
                <p class="main__backschool__surtitle"> Prepáralos con tus marcas favoritas</p>
                <h3 class="main__backschool__claim" > VUELTA AL COLE</h3>
            </div>

            <div class= “main__backschool__products”>

                <div class="main__backschool__products--item">
                    <img src="/images/01_image.png" alt="mochilas escolares" class="main__backschool__products--image">
                    <h4> Mochilas escolares </h4>
                </div>

                <div class="main__backschool__products--item">
                    <img src="/images/02_image.png" alt="mochilas escolares" class="main__backschool__products--image">
                    <h4> Mochilas escolares </h4>
                </div>

                <div class="main__backschool__products--item">
                    <img src="/images/03_image.png" alt="mochilas escolares" class="main__backschool__products--image">
                    <h4> Mochilas escolares </h4>
                </div>

            </div>

            <div class="main__backschool__startnow">
                <button type="button"> Empezar ahora </button>
            </div>
    </div>


</main>